In [5]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [6]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mandera,KE,2021-03-23 17:52:36,3.9366,41.8670,91.71,11,10,8.46
1,1,Roald,NO,2021-03-23 17:52:36,62.5833,6.1333,50.00,62,75,16.11
2,2,Natal,BR,2021-03-23 17:52:36,-5.7950,-35.2094,87.80,66,40,14.97
3,3,Faya,SA,2021-03-23 17:52:36,18.3851,42.4509,69.80,56,0,10.36
4,4,Kapaa,US,2021-03-23 17:52:37,22.0752,-159.3190,64.40,88,1,8.05

In [7]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

## create heatmap

In [8]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [9]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## user filter

In [22]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [26]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Faya,SA,2021-03-23 17:52:36,18.3851,42.4509,69.80,56,0,10.36
4,4,Kapaa,US,2021-03-23 17:52:37,22.0752,-159.3190,64.40,88,1,8.05
13,13,East London,ZA,2021-03-23 17:52:39,-33.0153,27.9116,68.00,77,20,10.36
14,14,Byron Bay,AU,2021-03-23 17:52:39,-28.6500,153.6167,73.00,100,39,8.55
17,17,New Norfolk,AU,2021-03-23 17:52:40,-42.7826,147.0587,63.00,78,100,1.01
19,19,Gladstone,AU,2021-03-23 17:52:40,-23.8500,151.2500,78.80,89,75,6.91
20,20,Hobart,AU,2021-03-23 17:48:31,-42.8794,147.3294,63.00,94,75,5.75
27,27,Da Nang,VN,2021-03-23 17:52:42,16.0678,108.2208,69.80,83,75,2.30
31,31,Port Alfred,ZA,2021-03-23 17:52:43,-33.5906,26.8910,69.44,72,20,18.01
32,32,Khorramshahr,IR,2021-03-23 17:52:43,30.4397,48.1664,78.80,31,0,4.61

In [27]:
preferred_cities_df.count()

City_ID       191
City          191
Country       191
Date          191
Lat           191
Lng           191
Max Temp      191
Humidity      191
Cloudiness    191
Wind Speed    191
dtype: int64

In [29]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
3           Faya      SA     69.80  18.3851   42.4509
4          Kapaa      US     64.40  22.0752 -159.3190
13   East London      ZA     68.00 -33.0153   27.9116
14     Byron Bay      AU     73.00 -28.6500  153.6167
17   New Norfolk      AU     63.00 -42.7826  147.0587
19     Gladstone      AU     78.80 -23.8500  151.2500
20        Hobart      AU     63.00 -42.8794  147.3294
27       Da Nang      VN     69.80  16.0678  108.2208
31   Port Alfred      ZA     69.44 -33.5906   26.8910
32  Khorramshahr      IR     78.80  30.4397   48.1664

## API Request

In [30]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [32]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()

    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]

    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [33]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Faya,SA,69.80,18.3851,42.4509,مقبرة ال مجمل
4,Kapaa,US,64.40,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
13,East London,ZA,68.00,-33.0153,27.9116,Tu Casa
14,Byron Bay,AU,73.00,-28.6500,153.6167,Backpackers Inn on the Beach
17,New Norfolk,AU,63.00,-42.7826,147.0587,The Shingles Riverside Cottages
19,Gladstone,AU,78.80,-23.8500,151.2500,Highpoint International
20,Hobart,AU,63.00,-42.8794,147.3294,Mantra on Collins Hobart
27,Da Nang,VN,69.80,16.0678,108.2208,Sun River Hotel
31,Port Alfred,ZA,69.44,-33.5906,26.8910,The Halyards Hotel
32,Khorramshahr,IR,78.80,30.4397,48.1664,دفتر نمایندگی شرکت بازاریابان ایرانیان زمینBIZ

## Heatmap with Hotels

In [38]:

info_box_template = """
        <dl>
        <dt>Hotel Name</dt><dd>{Hotel Name}</dd>
        <dt>City</dt><dd>{City}</dd>
        <dt>Country</dt><dd>{Country}</dd>
        <dt>Max Temp</dt><dd>{Max Temp} °F</dd>
        </dl>
        """

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [42]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))